
<form class="user" >
  <span class="error"> {{password.error}} </span>
  <label for="oldpassword">Old password</label>
  <input type="password" name="oldpassword" ng-model="password.old">
  <label for="newpassword">New password</label>
  <input type="password" name="newpassword" ng-model="password.new">
  <label for="confirmpassword">Confirm new password</label>
  <input type="password" name="confirmpassword" ng-model="password.confirm">
  <button type="submit" name="button" ng-click="password.update()">Update</button>
</form>
