<div class="list">
  <div class="header">
      <h1>{{data.title}}<i class="fa fa-pencil" ng-click="options.editList(data)"></i></h1>
  </div>

  <div class="items-list">
    <div ng-repeat="item in data.items">
      <div class="item" ng-click="options.itemClick(item, data)">
        <span class="ckeckbox">
          <i class="fa fa-2x" ng-click="options.checkClick(item);$event.stopPropagation()" ng-class=" item.wasPurchased ? 'fa-check-square-o' : 'fa-square-o' "></i>
        </span>
        <h3>{{item.title}}</h3>
        <span class="details" ng-show="item.detail">
          <i class="fa fa-comment-o "></i>
        </span>
      </div>
    </div>


  </div>   <!--end div items-list -->
  <div class="add-item">
    <span class="ckeckbox"><i class="fa fa-plus-circle fa-3x" ng-click="options.addItem(data)"></i></span>
  </div>
   <!-- end div.list -->
</div>
