<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shopping List</title>

    <!-- Vendors CSS -->
    <link href="/bower_components/normalize-css/normalize.css" rel="stylesheet">
    <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- app styles -->
    <link href="/stylesheets/app-styles.css" rel="stylesheet" >

    <!-- directives styles -->
    <link href="/app/directives/list/list.css" rel="stylesheet" >
    <link href="/app/directives/modal-dialog/modal-dialog.css" rel="stylesheet" >
    <link href="/app/directives/color-select/style.css" rel="stylesheet" >


  </head>
  <body>
    <header ng-controller="HeaderCtrl as header" ng-include src="'/app/partials/header.html'"></header>

    <div class="main-content" ng-view></div>


    <!-- Vendors libraries -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>

    <!-- app modules -->
    <script src="/app/modules/common.ui.js"></script>
    <script src="/app/modules/common.core.js"></script>
    <script src="/app/app.js"></script>

    <!-- app services -->
    <script src="/app/services/notification-service.js"></script>
    <script src="/app/services/shopping-list-svc.js"></script>
    <script src="/app/services/user-svc.js"></script>

    <!-- app controllers -->
    <script src="/app/controllers/header-ctrl.js"></script>
    <script src="/app/controllers/index-ctrl.js"></script>
    <script src="/app/controllers/user-ctrl.js"></script>
    <script src="/app/controllers/password-ctrl.js"></script>


    <!-- app directives -->
    <script src="/app/directives/list/list.js"></script>
    <script src="/app/directives/modal-dialog/modal-dialog.js"></script>
    <script src="/app/directives/color-select/script.js"></script>

  </body>
</html>
