
<section class="auth">
  <div class="logo">
      <a href="/">My Logo</a>
  </div>

  <h1>Login</h1>

  <form  action="/login" method="post">
    <input type="text" name="username" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Login</button>
  </form>

</section>
