body {
  font: 14px Montserrat, "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #00B7FF;
}
header {
  height: 50px;
  /*padding: 20px;*/
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid #A4A4A4;
  text-align: center;

}

header .logo{
  margin: 5px auto;
  display: inline-block;
}
header .logo a{
  text-decoration: none;
  color:#333;
}
header .logo a:hover {
  opacity: 0.8;
}
header .user-logged{
  position: absolute;
  right: 20px;
  top: 15px;
}
header .user-logged a{
  text-decoration: none;
  color:#333;
}
header .user-logged:hover {
  cursor: pointer;
  opacity: 0.8;
}
button {
  margin: 10px;
  font-size: 1.2em;
  display: inline-block;
  height: 40px;
  border: 0px;
  border-radius: 5px;
}
button.gray{
  background: #A4A4A4;
}
button.blue {
  color: #fff;
  background: #3498db;
}
button.red {
  color: #fff;
  background: #e74c3c;
}
button:hover{ opacity: 0.8; }
button:active{ opacity: 0.6; }
button:focus { outline: none; }

.main-content{
  padding: 50px;
}
/* form for a list */
.form-list label{
  margin: 10px 10px 0px 10px;
  font-size: 1.2em;
  display: block;
}
.form-list input, .form-list textarea{
  display: block;
  margin: 10px;
  font-size: 1.2em;
  width: 91%;
  height: 40px;
  background: #BDC3C7;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.form-list .color-select-container{
  margin: 10px;
  margin-right: 100px;
}
.form-list textarea{
  height: 100px;
  resize: none;
  padding-top: 10px;
}
.form-list input, .form-list textarea:focus{
  outline: none;
}

.form-list button{
  width: 50%;
}
.form-list .delete{
  margin: 10px;
  cursor: pointer;
  float: right;
  font-size: 2em;
  padding-top: 5px;
  color: #e74c3c;
}
.form-list .delete:hover{ opacity: 0.8; }
