.color-select{
  position: relative;
  display: inline-block;
}
.color-select .color-selected{  
  height: 50px;
  width: 50px;
  border: 1px solid #AAA;;
  border-radius: 2px;
  cursor: pointer;
}
.color-select .colors-list{
  position: absolute;
  margin: 5px;
  padding: 2px;
  top: 0;
  left: 50px;
  width: 128px; /* 32(tamanho do item mais borda) * 4  */
  height: auto;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  background: #fff;
  text-align: left;
}
.color-select:hover .colors-list{

}
.color-select .colors-list .color-item{
  display: inline-block;
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  margin-bottom: -4px;
  margin: 1px;
  box-sizing: border-box; /* css3 rec */
 -moz-box-sizing: border-box; /* ff2 */
 -ms-box-sizing: border-box; /* ie8 */
 -webkit-box-sizing: border-box; /* safari3 */
}
.color-select .colors-list .color-item:hover{
  cursor: pointer;
  border: 1px solid #555;
}
