
    <div class="color-select">
      <input type="hidden" name="color-selected" ng-model="data">
      <div class="color-selected"
        ng-style=" { 'background-color' : data } "
        ng-init="visibility='hidden'"
        ng-click="visibility == 'visible' ? visibility = 'hidden' : visibility = 'visible'">
      </div>
      <div class="colors-list"
        ng-style=" { 'visibility' : visibility } "
        ng-mouseleave="visibility='hidden'" >
        <div  ng-repeat="color in colors" class="color-item"
              ng-style=" { 'background-color' : color } "
              ng-click="itemClick(color)">
        </div>
      </div>
    </div>
